@font-face {
  font-family: 'Montserrat';
  src: url(font/Montserrat-VariableFont_wght.ttf);
}


html{
  scroll-behavior: smooth;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body{
  background-color: #0E0E0E;
}

header{
  background-image: url(imagens/background.png);
  background-size: cover;
}

p{
  color: white;
}

p::selection{
  background-color: #FF5B50;
}

a{
  color: white;
}

a::selection{
  background-color: #FF5B50;
}

.container{
  margin-left: 5.12rem;
  margin-right: 5.12rem;
}

h1{
  color: white;
}

h1::selection{
  background-color: #FF5B50;
}

span::selection{
  background-color: #ff5c5032;
}

h2::selection{
  background-color: #FF5B50;
}

img::selection{
  background-color: #FF5B50;
}

button::selection{
  background-color: #FF5B50;
}

input::selection{
  background-color: #FF5B50;
}

.early-section{
  height: 45rem;
  border-bottom: 1px solid #5a57577a;
}


/*========RESET===========*/


/*========Configurações do Nav======*/

nav{
  margin-bottom: 5.6rem;
  padding-top: 3.56rem;
}


nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  text-decoration: none;
  margin-right: 3rem;
  color: rgba(255, 255, 255, 0.877);
  transition: 0.3s;
}

nav a:hover{
  color: rgb(255, 255, 255);
}

.nav-links{
  display: flex;
  flex-direction: row;
}



#nav-button button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 3rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#nav-button button p{
   color: black;
   font-weight: bold;
}


/*===========Configurações de Conteudos do Header===========*/



.headernft-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.marketing-digital{
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.artists span{
 font-weight: bold;
 padding-right: 0.5rem;
}

.marketing-digital p{
  margin-bottom: 3.43rem;
}

.discover{
  width: 30rem;
  font-size: 1.31rem;
  margin-bottom: 6.25rem;
}

.discover span{
  color: #FF5B50;
}

.headernft-galeria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.group-1 img{
  margin-left: 0.2rem;
  margin-bottom: 3.75rem;
  border: 1px solid rgba(255, 255, 255, 0.397);
}



.group-2 img{
  margin-left: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.397);
}


/*======Primeira Sessão=======*/


.early-section{
  display: flex;
  flex-direction: row;
  height: 637px;
}



/*==========Parte esquerda==========*/
.analysis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 280px;
  gap: 70px;
  border-right: 1px solid #5a57577a;
}


.analysis h1{
  font-size: 3rem;
}

.analysis p{
  color: #5A5757;
}

/*==========Parte Direita==========*/


.arctions{
  padding-top: 80px;
  display: flex;
  gap: 126px;
  padding-left: 67px;
}



.arctions p a{
  color: #FF5B50;
}


.arctions div{
  display: flex;
  flex-direction: column;
  width: 430px;
}

.arctions div a{
  margin-top: 64px;
}

.picture{
  background-image: url('imagens/banner.png');
  background-size: cover;
  height: 288px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*======FIM======*/


/*=======Sessão dois===========*/

.popular-week{
  height: 500px;
}

.popular-title{
 margin-top: 9rem;
}

.popular-title h1{
  font-size: 50px;
}

.popular-title h1 span{
  color: #FF5B50;
}

.Astronauts{
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Astronaut-left{
  display: flex;
  flex-direction: column;
  border-right: 1px solid #5a57577a;
}

.Astronaut-right{
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
}

/*======Astrounauta Left======*/

/*========Astrounauta 1========*/

.Astronaut-1{
  margin-right: 15rem;
  line-height: 2.75rem;
  color: white;
}


.Astronaut-1 div{
  display: flex;
}

.Astronaut-1 span{
  margin-left: 7rem;
}

.Astronaut-1 p{
  color: #5A5757;
}

.Astronaut-1 p span{
  margin-left: 8rem;
  color: #FF5B50;
}


/*========Astrounauta 2========*/


.Astronaut-2{
  margin-right: 15rem;
  margin-top: 3rem;
  line-height: 2.75rem;
  color: white; 
}

.Astronaut-2 div{
  display: flex;
}

.Astronaut-2 span{
  margin-left: 7rem;
}

.Astronaut-2 p{
  color: #5A5757;
}

.Astronaut-2 p span{
  margin-left: 5.5rem;
  color: #FF5B50;
}



/*=====FIM====*/


/*======Astrounauta Right======*/

/*=====Astrounauta 3========*/

.Astronaut-3{
  line-height: 2.75rem;
  color: white;
}

.Astronaut-3 div{
  display: flex;
}

.Astronaut-3 span{
  margin-left: 7rem;
}

.Astronaut-3 p{
  color: #5A5757;
}

.Astronaut-3 p span{
  margin-left: 5.5rem;
  color: #FF5B50;
}


/*===========Astrounauta 4=========*/


.Astronaut-4{
  margin-top: 3rem;
  line-height: 2.75rem;
  color: white;
}

.Astronaut-4 div{
  display: flex;
}

.Astronaut-4 span{
  margin-left: 7rem;
}

.Astronaut-4 p{
  color: #5A5757;
}

.Astronaut-4 p span{
  margin-left: 6rem;
  color: #FF5B50;
}


/*==========FIM=====*/



/*============Artistas=========*/


.best-Artists{
   height: 61rem;
}


.bests-tittle{
  margin-top: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bests-tittle h1{
  font-size: 50px;
}

.bests-tittle h1 span{
  color: #FF5B50;
}



/*=========Caixas======*/


.artists-boxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*=======Primeira Caixa========*/

.artist{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.246);
  display: flex;
  align-items: center;
  background-color: #252525;
  width: 350px;
  height: 150px;
  transition: 0.3s;
  margin-top: 7.5rem;
}

.artist:hover{
  background-color: #ff5c5090;
  color: white;
  cursor: pointer;
}



.artist p span{
  color: #FF5B50;
}

.artist img{
  margin-left: 2rem;
}

.artist div{
  margin-left: 2.5rem;
  line-height:  1.5rem;
}


.section-boxes1{
  display: flex;
  justify-content: row;
}










/*=======Segunda Caixa========*/

.artist-1{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.422);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  width: 350px;
  height: 150px;
  transition: 0.3s;
  margin-top: 7.5rem;
  margin-left: 7rem;
}

.artist-1:hover{
  background-color: #ff5c5090;
  color: white;
  cursor: pointer;
}



.artist-1 p span{
  color: #FF5B50;
}

.artist-1 img{
  margin-left: 2rem;
}

.artist-1 div{
  margin-left: 2.5rem;
  line-height:  1.5rem;
}


/*=======Terceira Caixa========*/


.artist-2{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.422);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  width: 350px;
  height: 150px;
  transition: 0.3s;
  margin-top: 7.5rem;
  margin-left: 7rem;
}

.artist-2:hover{
  background-color: #ff5c5090;
  color: white;
  cursor: pointer;
}



.artist-2 p span{
  color: #FF5B50;
}

.artist-2 img{
  margin-left: 2rem;
}

.artist-2 div{
  margin-left: 2.5rem;
  line-height:  1.5rem;
}


/*=======Segunda sessão de artistas=========*/


.section-boxes2{
  display: flex;
  justify-content: row;
}



/*==============Link da sessão de artistas============*/

.view-more{
  margin-top: 3rem;
}

.view-more a{
  text-decoration: none;
  color: rgba(231, 229, 229, 0.83);
  transition: 0.3s;
}

.view-more a:hover{
  color: rgb(231, 229, 229);
}

.view-more img{
  margin-left: 1rem;
}


/*===========FIM=============*/






/*==========FOOTER===========*/


/*============ TOP DO FOOTER =============================*/

footer{
  background-color: #252525;
  height: 44rem;
}

.footer-top{
  display: flex;
  height: 13rem;
  border-bottom: 1px solid #5A5757;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.footer-top h2{
  margin-left: 5.25rem;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.footer-top h2 span{
  color: #FF5B50;
}

.footer-top button{
  margin-right: 5.25rem;
  background-color: #FF5B50;
  width: 4rem;
  height: 4rem; 
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.footer-top button:hover{
  width: 5rem;
  height: 5rem;
}


/*====== Aba de enviar email======= */



.footer-middle{
  height: 20rem;
  border-bottom: 1px solid #5A5757;
  display: flex;
  flex-direction: row;
}

.invite{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 34rem;
  border-right: 1px solid #5A5757;
  height: 320px;
}

.invite p{
  font-size: 30px;
  width: 350px;
}

.invite p span{
  color: #FF5B50;;
}

#submit input{
  margin-top: 25px;
  width: 12.5rem;
  height: 4rem;
  background-color: #0E0E0E;
  border: none;
}

#submit input::placeholder{
 padding-left: 15px;
}

#submit button{
  cursor: pointer;
  width: 10rem;
  border: none;
  height: 4rem;
  background-color: white;
}




/*======== Comics =====*/

.comics{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 122px;
}

.comics p{
  font-size: 20px;
  font-weight: bold;
}

.comics a{
  color: #5A5757;
  text-decoration: none;
}

ul li{
  list-style: none;
  line-height: 40px;
  margin-right: 128px;
}

/*========= footer bootom============*/

.footer-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.site p{
  color: #5A5757;
}

.icones img{
  margin-left: 50px;
  cursor: pointer;
}


/*=====FIM====*/




/*====ANIMAÇÃO DE SESSÕES==*/


[data-anime]{
  opacity: 0;
  transition: 0.3s;
}


[data-anime="left"]{
  transform: translate3d(-50px, 0, 0);
}


[data-anime="right"]{
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}